@keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes translate {
    to {
        translate: 0 0;
    }
}

@keyframes rotate {
    to {
        rotate: 0deg;
    }
}

@keyframes view_carousel_inset {
	entry 0%  {
		clip-path: inset(25%);
	}
	entry 100%  {
		clip-path: inset(0%);
	}

	exit 0% {
		clip-path: inset(0%);
	}
	exit 100% {
		clip-path: inset(25%);
	}
}