@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
        background-repeat: no-repeat;
    }

    :root {
        interpolate-size: allow-keywords;
    }

    @media (prefers-reduced-motion: no-preference) {
        :root {
            scroll-behavior: smooth;
        }
    }

    body {
        margin: 0;
        min-height: 100dvh;
        color: var(--color);
        background-color: var(--bg-color);
        font-family: var(--font-family, sans-serif);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
        accent-color: var(--accent-color);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
        vertical-align: middle;
    }

    iframe {
        border: 0;
    }

    hr {
        margin-block: 1rem;
        color: inherit;
        opacity: .25;
    }

    ol, ul {
        padding-inline-start: 1.5rem;

        &:not(:last-child, :only-child) {
            margin-block: 1rem;
        }

        ol, ul & {
            margin-bottom: 0;
        }

        li {
            padding-block: .25rem;
        }
    }

    input, textarea, select {
        font: inherit;
    }

    table {
        width: 100%;

        tr {
            th, td {
                text-align: left;
                padding-block: .25rem;

                &:not(:first-child, :last-child) {
                    padding-inline: .75rem;
                }
            }
        }
    }

    pre, code, kbd, samp {
        font-size: min(calc(.8rem + .15vw), 1rem);
    }

    pre {
        margin-block: 0;
    }

    code {
        white-space: pre;
        font-family: monospace;
        color: var(--code-color, #d63384);
    }

    kbd {
        width: fit-content;
        padding: 0.1875rem 0.375rem;
        color: var(--kbd-color, var(--bg-color));
        background-color: var(--kbd-bg-color, var(--color));
    }

    small {
        font-size: min(calc(.8rem + .1vw), 1rem);
        font-weight: 475;
    }

    a {
        text-decoration: none;
        color: var(--link-color);
    }

    [popover] {
        border: initial;
        color: inherit;
        background-color: inherit;
    }

    backdrop, ::backdrop {
        position: fixed;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        background: var(--backdrop-bg, rgb(from var(--color, #000) r g b / .3));
        transition: var(--backdrop-transition, .6s) allow-discrete;
        backdrop-filter: blur(var(--blur));

        @starting-style {
            opacity: 0 !important;
        }

        &[open], &.open, [open] & {
            visibility: visible;
            opacity: 1;
        }
    }
}