/* default Scrollbar Fix */
:root {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color, rgba(0, 0, 0, 0.3)) var(--bg-color, #fff);
}

body {
    scrollbar-color: var(--scrollbar-color, rgba(0, 0, 0, 0.3)) transparent;
}

* {
    scrollbar-width: thin;
}

.sb-auto {
    scrollbar-width: auto;
}

.sb-thin {
    scrollbar-width: thin;
}

.sb-none {
    scrollbar-width: none;
}