/* default Scrollbar Fix */
:root {
    --_color: var(--scrollbar-color, var(--color, #000));
    scrollbar-width: thin;
    scrollbar-color: rgb(from var(--_color) r g b / .3) var(--bg-color, #fff);
}

body {
    scrollbar-color: rgb(from var(--_color) r g b / .3) transparent;
}

* {
    scrollbar-width: thin;
}

.sb-auto {
    scrollbar-width: auto;
}

.sb-thin {
    scrollbar-width: thin;
}

.sb-none {
    scrollbar-width: none;
}