/* Other color variables (light theme) */
:root {
    /* Colors */
    --brand-color: light-dark(#2DD4BF, #5EEAD4);
    --primary-color: light-dark(#3B82F6, #60A5FA);
    --secondary-color: light-dark(#94A3B8, #64748B);

    /* Surface Colors */
    --surface-color-2: oklch(from var(--bg-color) calc(l - .2 * sign(l - .5)) c h);
    --surface-color-3: oklch(from var(--bg-color) calc(l - .3 * sign(l - .5)) c h);
    --surface-color-4: oklch(from var(--bg-color) calc(l - .4 * sign(l - .5)) c h);
    --surface-color-5: oklch(from var(--bg-color) calc(l - .5 * sign(l - .5)) c h);
    --surface-color-6: oklch(from var(--bg-color) calc(l - .6 * sign(l - .5)) c h);

    /* States */
    --success-color: light-dark(#10B981, #34D399);
    --warning-color: light-dark(#F59E0B, #FBBF24);
    --danger-color: light-dark(#EF4444, #F87171);
    --info-color: light-dark(#0EA5E9, #38BDF8);
}