:root {
    --font-family: 'Red Hat Display', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: initial;
    --font-weight: 500;
    --line-height: initial;
    --base-space: .5rem;
    --base-radius: .5rem;
    --base-vpu: calc(.1vh + .1vw);
    --base-transition-duration: .6s;
    --base-animation-duration: .6s;
}


:root,[theme=light] {
    --color-rgb: 0, 0, 0;
    --bg-color-rgb: 255, 255, 255;
    --bg: rgb(240, 240, 240);
    --heading-color: #000;
    --paragraph-color: #000;
    --accent-color: #7bd1ff;
    --scrollbar-color: rgba(var(--color-rgb), .4);
    --color: rgb(var(--color-rgb));
    --bg-color: rgb(var(--bg-color-rgb));
    color-scheme: light;
}

[theme=dark] {
    --color-rgb: 255, 255, 255;
    --bg-color-rgb: 0, 0, 0;
    --bg: rgb(20, 20, 20);
    --heading-color: #fff;
    --paragraph-color: #fff;
    --accent-color: #56a9d6;
    color-scheme: dark;
}