[data-code-lang] {
	--padding: 1rem;
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 100%;
	overflow-x: auto;
	background-color: var(--surface-color);
	border-radius: var(--radius);
	white-space: pre;

	&:not(.multiline, .oneline) {
		padding: var(--padding);
	}

	&.multiline {

		.header {
			display: flex;
			justify-content: space-between;
			padding: var(--padding);
			border-bottom: 2px solid var(--bg-color);

			.lang, .copy {
             line-height: 1;
			 font-size: .9rem;
			}

			.copy {
				padding: 0;
			}
		}

		.wrapper {
			display: flex;
			padding: var(--padding);
			max-width: 100%;
			overflow-x: auto;
		}
	}

	&.oneline {
		position: relative;
		padding: var(--padding);

		.wrapper {
			max-width: 100%;
			overflow-x: auto;
		}

		.copy {
			position: absolute;
			inset: 0 var(--padding) 0 auto;
			padding: 0 0 0 1rem;
			background: linear-gradient(to right, transparent , var(--surface-color) 20% 100%);
		}
	}

	.code {
		color: inherit;
		font: inherit;
	}

	.copy {
		&::before {
			content: 'Copy';
		}

		&.copied::before {
			content: 'Copied';
		}
	}

	.numbers {
		padding-left: 5px;
		counter-reset: line;
	}

	.numbers div {
		padding-right: 5px
	}

	.numbers div::before {
		display: block;
		content: counter(line);
		opacity: .6;
		font: inherit;
		font-variant-numeric: tabular-nums;
		text-align: right;
		margin-right: 5px;
		counter-increment: line
	}

	.cmnt {
		font-style: italic
	}

	.err, .kwd {
		color: #e16
	}

	.num, .class {
		color: #f60
	}

	.numbers, .cmnt {
		color: #999
	}

	.insert, .str {
		color: #7d8
	}

	.bool {
		color: #3bf
	}

	.type, .oper {
		color: #5af
	}

	.section, .func {
		color: #84f
	}

	.deleted, .var {
		color: #f44
	}

	.http.oneline .kwd {
		background: #25f;
		color: #fff;
		padding: 5px 7px;
		border-radius: 5px
	}

	
	[theme=dark] & {

		.deleted, .err, .var {
			color: #ff5261
		}

		.section, .kwd {
			color: #ff7cc6
		}

		.class {
			color: #eab07c
		}

		.numbers, .cmnt {
			color: #7d828b
		}

		.insert, .type, .func, .bool {
			color: #71d58a
		}

		.num {
			color: #b581fd
		}

		.oper {
			color: #80c6ff
		}

		.str {
			color: #4dacfa
		}
	}
}