[data-code-lang] {
    display: block;
    color: inherit;
    white-space: pre;
    font-family: monospace;
    background: var(--bg, rgb(250, 250, 250));
    padding: 1rem;
    border-radius: .5rem;
    font-size: min(calc(.9rem + .3vw), 1.3rem);
    overflow: auto;
    margin-bottom: 1rem;

    .line {}
}

/* Common Styles */
.html-comment,.css-comment,.js-comment {
    color: #808080;
    font-style: italic;
}

.js-whitespace, .css-whitespace, .html-whitespace {
    white-space: pre;
}

/* HTML */
.html-doctype { color: #22863a;}
.html-tag { color: #d73a49; }
.html-attribute { color: #005cc5; }
.html-equals { color: #d73a49; }
.html-string { color: #032f62; }
.html-text { color: #24292e; }
.html-punctuation { color: #d73a49; }

/* CSS */
.css-atrule { color: #d73a49; }
.css-selector { color: #005cc5;}
.css-class { color: #6f42c1; }
.css-id { color: #e36209; }
.css-pseudo-class { color: #22863a; font-style: italic; }
.css-pseudo-element { color: #e36209; font-style: italic; }
.css-attribute-selector { color: #005cc5; }
.css-property { color: #d73a49; }
.css-value { color: #032f62; }
.css-color { color: #005cc5; }
.css-unit { color: #005cc5; }
.css-keyword { color: #22863a;}
.css-important { color: #d73a49;}
.css-punctuation { color: #24292e; }
.css-combinator { color: #d73a49; }
.css-media-feature { color: #e36209; }
.css-function {color: #b9cd0e;}

/* JavaScript */
.js-control-flow { color: #af00db; }
.js-declaration { color: #00998c;}
.js-error-handling { color: #e2777a;}
.js-async { color: #cc9900;}
.js-type { color: #7c4dff;}
.js-object-oriented { color: #e2777a;}
.js-boolean { color: #0086b3; }
.js-null-undefined { color: #0086b3; }
.js-string { color: #669900; }
.js-template-expression { color: #f92672; }
.js-comment { color: #999; font-style: italic; }
.js-number { color: #0086b3; }
.js-regex { color: #e90; }
.js-function { color: #dd4a68; }
.js-builtin { color: #0086b3; }
.js-identifier { color: #333; }
.js-operator { color: #a67f59; }
.js-punctuation { color: #999; }
  