<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheet Demo</title>

    <link rel="stylesheet" href="sheet.css">

    <link rel="stylesheet" href="/layx/main/base/variable.css">
    <link rel="stylesheet" href="/layx/main/base/base.css">
    <link rel="stylesheet" href="/layx/main/typography/typography.css">
    <link rel="stylesheet" href="/layx/components/button/button.css">

    <style>
      body {
        
      }

      sheet {}
    </style>
  </head>

  <body>

    <sheet>
      <div class="wrapper">
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
      </div>
      <div class="wrapper">
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
      </div>
    </sheet>

  </body>

  <script type="module">
    import "./sheet.js";
  </script>

</html>