@layer components {
  sheet, .sheet {
    position: fixed;
    inset: auto 0 0;
    height: var(--_h);
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    pointer-events: none;

    &:not([active]) {
      visibility: hidden;
    }

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      height: var(--_h);
      scroll-snap-align: end;
    }

    &[position=left], &[position=right] {
      inset: 0 auto 0 0;
      width: var(--_w);
      height: 100%;
      flex-direction: row;
      direction: rtl;
      scroll-snap-type: x mandatory;

      .wrapper {
        direction: unset;
        flex-direction: row;
      }

      &::before {
        height: 100%;
        width: var(--_w);
      }

    }

    &[position=right] {
      inset: 0 0 0 auto;
      direction: unset;
    }

    &[position=top] {
      inset: 0 0 auto;
      flex-direction: column-reverse;

      &[active] {
        &::before, .wrapper:not(:has([snap])), [snap] {
          scroll-snap-align: start !important;
        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      pointer-events: auto;
      direction: unset;

      [active] & {
        &:not(:has([snap])), [snap] {
          scroll-snap-align: end;
        }
      }
    }
  }
}