@layer components {
  sheet, .sheet {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: auto 0 0;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &:not([resizing]) {
      &, &::before {
        height: var(--el-h);
      }
    }

    &:not([active]) {
      visibility: hidden;
    }

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      scroll-snap-align: end;
    }

    &[position=left], &[position=right] {
      inset: 0 auto 0 0;
      flex-direction: row;
      direction: rtl;
      scroll-snap-type: x mandatory;

      &::before {
        height: auto;
      }

      &:not([resizing]) {
        &, &::before {
          width: var(--el-w);
        }
      }
    }

    &[position=right] {
      inset: 0 0 0 auto;
      flex-direction: row;
      direction: unset;
    }

    &[position=top] {
      inset: 0 0 auto;
      flex-direction: column-reverse;

      &[active] {
        &::before, .wrapper {
          scroll-snap-align: start;
        }
      }
    }

    .wrapper {
      pointer-events: auto;
      background-color: rgb(238, 238, 238);
      direction: unset;

      [active] & {
        scroll-snap-align: end;
      }
    }
  }
}