/* Default font family (latin only) */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    src: url(/assets/font/Red_Hat_Display_variable.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


p, .p, h6, h5, h4, h3, h2, h1,  .h6,.h5,.h4,.h3,.h2,.h1 {
    --_t_scale: var(--typography-base-scale, 1);
     margin-block: 0;
    
    &:not(:last-child) {
      margin-block-end: .5rem;
    }

    &.base {
     margin: 0;
     line-height: 1;
    }

    &.bl {
        text-wrap: balance;
    }

    &.pr {
        text-wrap: pretty;
    }
}


h6,h5,h4,h3,h2,h1, .h6,.h5,.h4,.h3,.h2,.h1 {
    font-weight: var(--heading-font-weight, 500);
    line-height: var(--heading-line-height, 1.2);
    color: var(--heading-color);
}

h1, .h1 {
    font-size: calc(min(1.5rem + 1.8vw, 4.125rem) * var(--_t_scale));
}

h2, .h2 {
    font-size: calc(min(1.4rem + 1.5vw, 3.625rem) * var(--_t_scale));
}

h3, .h3 {
    font-size: calc(min(1.3rem + 1.2vw, 3rem) * var(--_t_scale));
}

h4, .h4 {
    font-size: calc(min(1.2rem + .9vw, 2.5rem) * var(--_t_scale));
}

h5, .h5 {
    font-size: calc(min(1.1rem + .6vw, 1.875rem) * var(--_t_scale));
}

h6, .h6 {
    font-size: calc(min(1rem + .3vw, 1.375rem) * var(--_t_scale));
}


p, .p {
    font-size: calc(min(.9rem + .3vw, 1.1rem) * var(--_t_scale));
    font-weight: var(--paragraph-font-weight, 500);
    line-height: var(--paragraph-line-height, 1.5);
    color: var(--paragraph-color);
}