<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar Demo</title>

        <link rel="stylesheet" href="navbar.css">

        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/components/button/button.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
        <link rel="stylesheet" href="/layx/main/base/scrollbar.css">

        <style>
            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                min-height: 150vh;
                font-family: "Red Hat Display", sans-serif;
                background-color: antiquewhite;
            }

            navbar {
                --navbar-bg: rgba(255, 255, 255, 0.5);
                --radius: .5rem;

            }

            container {
                display: grid;
                place-content: center;
                height: 200px;
                margin-top: 30vh;
                background: rgba(255, 255, 255, 0.5);
            }
        </style>
    </head>

    <body>
        <header>

            <navbar class="fixed update-scroll-state">
                <div class="warper">
                    <div class="main modern center move">
                        <div class="brand">
                            <h5 class="logo-text">Layx</h5>
                            <button class="toggler"></button>
                        </div>
                        <div class="warp-able side">
                            <button class="close"></button>
                            <div>
                                <nav class="link-warper">
                                    <a href="" class="link">Home</a>
                                    <a href="" class="link">Amout</a>
                                    <a href="" class="link">Demo</a>
                                    <a href="" class="link">Conatact</a>
                                    <a href="" class="link">FAQs</a>
                                    <a href="" class="link">Test</a>
                                </nav>
                            </div>
                            <div>
                                <button class="lg dark">Conatact</button>
                            </div>
                        </div>
                    </div>
                </div>
            </navbar>

        </header>

        <container>
            <p class="ui-text">Container</p>
        </container>

        <script>
            const navbar = document.querySelector('navbar');
            const navbarWarp = navbar.querySelector('.warp-able')
            const navbarToggler = navbar.querySelector('.toggler');
            const navbarCloseBtn = navbar.querySelector('.close');
            let navbarBackdrop = navbar.querySelector('backdrop');

            navbarToggler.addEventListener('click', () => {

                if (!navbarBackdrop && !navbarWarp.classList.contains('full')) {
                    navbarBackdrop = document.createElement('backdrop');
                    navbarBackdrop.classList.add('navbar-backdrop');

                    navbarBackdrop.addEventListener('click', () => {
                        toggleNavbar();
                    });

                    navbarWarp.insertAdjacentElement('afterend', navbarBackdrop);
                }

                toggleNavbar();
            });

            function toggleNavbar() {
                navbar.classList.toggle('open');
                navbarWarp.classList.toggle('open');

                if (!navbarWarp.classList.contains('full')) {
                    navbarBackdrop.classList.toggle('open');
                }

                document.body.style.overflow = navbar.classList.contains('open') ? 'hidden' : '';
            }

            if (navbarCloseBtn) {
                navbarCloseBtn.addEventListener('click', () => {
                    toggleNavbar();
                });
            };

            if (navbar.classList.contains('update-scroll-state')) {
                const scrollDistance = window.innerHeight * .2;
                let previousScrollPosition = window.scrollY;

                function updateScrollState(element, distance) {
                    const scrolledPastDistance = window.scrollY > distance;
                    const scrollingDown = previousScrollPosition < window.scrollY && (distance * 3) < window.scrollY;

                    element.classList.toggle('scrolled', scrolledPastDistance);
                    element.classList.toggle('scrollingDown', scrollingDown);
                    previousScrollPosition = window.scrollY;
                }

                window.addEventListener('scroll', function () {
                    updateScrollState(navbar, scrollDistance);
                }, { passive: true });
            };
        </script>
    </body>

</html>