navbar,.navbar {
    --edge-offset-x: .75rem;
    --gap: 1rem;
    --padding-x: .75rem;
    --padding-y: .75rem;
    --link-gap: 0;
    --link-padding-x: 0;
    --link-padding-y: .25rem;
    --navbar-bg: #fff;
    --navbar-warp-bg: #fff;
    --radius: none;
    --blur: none;
    --transition: .3s;

    display: block;
    transition: var(--transition, .3s);
    z-index: 10;

    &:not(:has(.main.modern)) {
        border-radius: var(--radius);
        backdrop-filter: blur(var(--blur));
        background: var(--navbar-bg, #fff);
    }

    .wrapper {
        position: relative;
        display: flex;
        justify-content: center;

        .main {
            display: grid;
            gap: var(--gap, .5rem);
            flex-grow: 1;
            padding-block: var(--padding-y, var(--padding, .5rem));
            max-width: calc(100% - calc(var(--edge-offset-x) * 2));
            transition: var(--transition, .3s);

            .brand {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .toggler {
                    padding: unset;
                    background: unset;
                    line-height: 1;

                    &:not(.text, .defult) {
                        height: clamp(25px, 100%, 30px);
                        aspect-ratio: 1;
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center;
                    }

                    @media (width >=992px) {
                        display: none;
                    }
                }

                .logo-text {
                    margin: unset;
                    line-height: 1;
                }

            }

            .warp-able {
                display: flex;

                @media (width < 992px) {
                    position: absolute;
                    inset: 100% 0 auto;
                    flex-direction: column;
                    gap: .5rem;
                    padding: .5rem;
                    z-index: 15;
                    background: var(--navbar-warp-bg, #fff);
                    transition: var(--transition, .3s);

                    &:not(.left, .right),full {
                        visibility: hidden;
                        opacity: 0;

                        &[open] {
                            visibility: visible;
                            opacity: 1;
                        }
                    }


                    &.full,&.left,&.right {
                        position: fixed;
                        min-width: 80%;

                        &.full {
                            inset: 0;
                        }

                        &.left {
                            inset: 0 auto 0 0;
                            translate: -100% 0;

                            &[open] {
                                translate: 0 0;
                            }
                        }

                        &.right {
                            inset: 0 0 0 auto;
                            translate: 100% 0;

                            &[open] {
                                translate: 0 0;
                            }
                        }

                    }
                }



                @media (width >=992px) {
                    justify-content: end;
                    align-items: center;

                    &:has(>:nth-child(2)) {
                        justify-content: space-between;
                    }

                    &.end {
                        justify-content: end;
                    }

                    &.start {
                        justify-content: start;
                    }

                }
            }

            &.center {
                @media (width >=992px) {
                    grid-template-columns: 1fr auto 1fr;

                    &:has(>:nth-child(3)) {
                        &> :last-child {
                            justify-self: end;
                        }
                    }

                    .warp-able {
                        display: grid;
                        grid-template-columns: subgrid;
                        gap: unset;

                        &:has(>:nth-child(2)) {
                            grid-column: span 2;

                            &> :last-child {
                                justify-self: end;
                            }
                        }
                    }
                }
            }

            &.modern {
                padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));
                background: var(--navbar-bg, #fff);
                border: var(--border);
                border-radius: var(--radius);
                backdrop-filter: blur(var(--blur));
            }


            .link-wrapper {
                display: flex;
                flex-direction: column;
                gap: var(--link-gap, .5rem);

                a {
                    text-decoration: none;
                    color: inherit;
                    padding: var(--link-padding-y, var(--link-padding, 0)) var(--link-padding-x, var(--link-padding, 0));
                    font-weight: 475;
                }

                @media (width >=992px) {
                    flex-direction: row;
                }
            }

            .close {
                height: 1rem;
                aspect-ratio: 1;
                padding: 0;
                opacity: .5;
                margin-left: auto;
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") no-repeat center;

                @media (width >=992px) {
                    display: none;
                }
            }

            backdrop {
                --backdrop-transition: var(--transition);
            }

            .warp-able:not(.left, .right, .full)~backdrop {
                z-index: -1;
            }

            :is(.warp-able.left, .warp-able.right)~backdrop {
                width: 20%;
            }

            .warp-able.left~backdrop {
                inset: 0 0 0 auto;
            }

            .warp-able.right~backdrop {
                inset: 0 auto 0 0;
            }
        }

    }

    &.fixed {
        position: fixed;
        inset: 0 0 auto;
    }

    &.update-scroll-state {

        &:not(:has(.main.modern)) {
            background: transparent;

            &.scrolled {
                background: var(--navbar-bg, #fff);
            }
        }

        .main.modern.center {
            --gap: 10rem;
            background: transparent;

            @media (width < 992px) {
                backdrop-filter: unset;
            }
        }

        &.scrolled {
            &:has(.main.modern.center) {
                margin-top: 20px;


                .main {
                    background: var(--navbar-bg, #fff);
                }

                @media (width >=992px) {
                    margin-top: unset;
                    translate: 0 20px;

                    .main {
                        flex-grow: 0;
                    }
                }
            }
        }

        &.scrollingDown {
            translate: 0 calc(-100% + -20px) !important;

            @media (width >=992px) {
                translate: 0 -100% !important;
            }
        }
    }



    @media (width >=576px) {
        --edge-offset-x: 1.5%;
    }

    @media (width >=992px) {
        --edge-offset-x: 3.5%;
        --link-padding-x: .5rem;
        --link-padding-y: .25rem;

        .main {
            grid-template-columns: auto 1fr;
        }
    }

    @media (aspect-ratio >=21/9) and (width >=2000px) {
        --edge-offset-x: 12.5%;
    }

    @media (aspect-ratio >=32/9) and (width >=3000px) {
        --edge-offset-x: 22.5%;
    }

}