<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iframe with Fetch Event Listener</title>

    <link rel="stylesheet" href="window.css">

    <link rel="stylesheet" href="/layx/main/base/base.css">
    <link rel="stylesheet" href="/layx/main/typography/typography.css">
    <link rel="stylesheet" href="/layx/components/button/button.css">
    <link rel="stylesheet" href="/layx/main/container/container.css">

    <style>
        body {
            background-color:antiquewhite;
        }

        window {
            .close {
                --bg: rgb(255,255,255); 
            }
        }
    </style>
</head>

<body>
    <button data-window-target="#window">Open Window</button>
    <window id="window">
        <container class="window-wrapper">
            <div class="header"><button class="close as"></button></div>
            <iframe class="window-iframe" src="https://example.com"></iframe>
        </container>
    </window>

    <script src="window.js"></script>
    <script>
        new Window();
    </script>
</body>

</html>