window {
    position: fixed;
    inset: 0;
    z-index: 5;
    visibility: hidden;

    &[open] {
        visibility: visible;

        .window-wrapper {
            .header {
                .close {
                    opacity: 1;
                }
            }

            .window-iframe {
                translate: 0 0;
            }
        }

        backdrop {
            visibility: visible;
            opacity: 1;
        }
    }


    backdrop {
        --backdrop-bg: rgba(255, 255, 255, .5);
        visibility: hidden;
        transition: .6s;
        opacity: 0;
    }

    .window-wrapper {
        display: grid;
        grid-template-rows: .1fr .9fr;
        gap: .5rem;
        height: 100%;

        .header {
            display: flex;
            justify-content: end;
            align-items: end;

            .close {
                padding: 0;
                height: 2.5rem;
                width: 2.5rem;
                background-size: 45%;
                border-radius: 50%;
                opacity: 0;
                z-index: 5;
                transition: .6s;
            }
        }

        .window-iframe {
            height: 100%;
            width: 100%;
            border: none;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            background-color: rgba(255, 255, 255, .5);
            translate: 0 100%;
            z-index: 5;
            transition: .6s;
        }
    }
}

.window-wrapper {
    --edge-offset-x:0px;
}