@layer components {
    button, .btn {
        --padding-x: 1em;
        --padding-y: .6em;
        --bg-color: var(--surface-color, #fafafa);

        display: inline-block;
        font: inherit;
        font-size: 1rem;
        text-align: center;
        vertical-align: middle;
        padding: var(--padding-y) var(--padding-x);
        background-color: var(--bg-color);
        border: var(--border, unset);
        border-radius: var(--radius);

        &:not(:disabled) {
            cursor: pointer;
        }

        &.w {
            --padding-y: .8em;
        }

        &.r {
            --radius: 10em;
        }

        &.o {
            background: unset;
            border: 1px solid;
        }

        &.a {
          color: var(--bg-color);
          background-color: var(--color);
        }
    }
}