button:not(.defult),.btn {
    --padding-x: 1rem;
    --padding-y: .6rem;
    --radius: .35rem;

    display: inline-block;
    padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));
    color: var(--color, inherit);
    background: var(--bg, rgb(245, 245, 245));
    border: var(--border, unset);
    border-radius: var(--radius, .35rem);
    font-family: inherit;
    font-size: var(--font-size, 1rem);
    font-weight: 500;
    line-height: 1;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    transition: .15s;

    &:not(:disabled) {
        cursor: pointer;
    }


    &:focus-visible {
        outline: 1px solid var(--accent-color, #b7f7ff);
    }

    &.outlined {
        --outline-color: rgba(150, 150, 150, .6);
        --outline-width: 1px;
        background-color: transparent;
        outline: var(--outline-width, 1px) solid var(--outline-color, currentcolor);
        outline-offset: calc(var(--outline-width, 1px) * -1);

        &:hover {
            background-color: var(--bg, rgb(245, 245, 245));
        }
    }

    &.wide {
        --padding-y: .8rem; 
    }

    &.lg {
        --padding-x: 1.4rem;
        --padding-y: .8rem;
        --radius: .4rem;
        --font-size: 1.1rem;

        &.wide {
            --padding-y: 1rem; 
        }
    }

    &.xl {
        --padding-x: 1.8rem;
        --padding-y: 1rem;
        --radius: .5rem;
        --font-size: 1.2rem;

        &.wide {
            --padding-y: 1.2rem; 
        }
    }

    &.r {
        --radius: 10rem;
    }

    &.dark {
        --color: #fff;
        --bg: #000;
    }

    &.light {
        --color: #000;
        --bg: #fff;
    }

    &.close {
        aspect-ratio: 1;
        min-height: 1rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
    }

    &.as {
        &:active {
            scale: .9;
        }
    }
}

a.btn {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}