<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout demo</title>

        <link rel="stylesheet" href="layout.css">

        <link rel="stylesheet" href="/layx/helpers/layout/layuot_helper.css">

        <link rel="stylesheet" href="/layx//main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
        <link rel="stylesheet" href="/layx/main/base/scrollbar.css">

        <style>
            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                font-family: "Red Hat Display", sans-serif;
                background-color: antiquewhite;
            }

            .demo__layout {
                min-height: 25vh;

                div {
                    background-color: rgba(255, 255, 255, .5);

                    &:not(.sub-x) {
                        display: grid;
                        place-items: center;
                    }

                    p {
                        margin: unset;
                    }
                }
            }

            .demo__container {
                height: 25vh;
                display: grid;
                place-items: center;
                background-color: rgba(255, 255, 255, .5);
            }
        </style>
    </head>

    <body>

        <container class="__container" style="margin-top: 2rem;">
            <h2 style="text-align: center;">Demo Layouts</h2>
            <h4>Defult 12 cloumns Layout</h4>
            <div class="wrapper" style="display: grid; gap: 5rem; margin-bottom: 7.5rem;">
                <layout class="demo__layout gap">
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                    <div class="x-1">
                        <p>X-1</p>
                    </div>
                </layout>

                <div>
                    <h4>Layout 6 cloumns</h4>
                    <layout class="demo__layout num-x-6 gap">
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                    </layout>
                </div>

                <div>
                    <h4>Layout 3 cloumns</h4>
                    <layout class="demo__layout num-x-3 gap">
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                        <div class="x-1">
                            <p>X-1</p>
                        </div>
                    </layout>
                </div>

                <layout class="demo__layout gap">
                    <div class="x-6">
                        <p>X-6</p>
                    </div>
                    <div class="x-2">
                        <p>X-2</p>
                    </div>
                    <div class="x-4">
                        <p>X-4</p>
                    </div>
                </layout>

                <layout class="demo__layout gap">
                    <div class="x-4">
                        <p>X-4</p>
                    </div>
                    <div class="x-2 xs-7">
                        <p>X-2 XS-7</p>
                    </div>
                    <div class="x-4">
                        <p>X-4</p>
                    </div>
                </layout>
            </div>

        </container>

        <container class="__container">
            <h2 style="text-align: center;">Demo Edge Layout</h2>
        </container>
        <div class="wrapper" style="display: grid; gap: 5rem; margin-bottom: 7.5rem;">
            <layout class="demo__layout edge gap">
                <div class="x-1">
                    <p></p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p>X-1</p>
                </div>
                <div class="x-1">
                    <p></p>
                </div>
            </layout>

            <layout class="demo__layout edge gap">
                <div class="x-1">
                    <p></p>
                </div>
                <div class="x-12">
                    <p>X-12</p>
                </div>
                <div class="x-1">
                    <p></p>
                </div>
            </layout>

            <layout class="demo__layout edge gap">
                <div class="x-12 xs-2">
                    <p>X-12 XS-2</p>
                </div>
            </layout>

            <layout class="demo__layout edge gap">
                <div class="x-6 sub-x">
                    <div class="x-5 xs-2" style="display: grid; place-items: center;">
                        <p>SUB-X</p>
                    </div>
                </div>
                <div class="x-8 sub-x">
                    <div class="x-7" style="display: grid; place-items: center;">
                        <p>SUB-X</p>
                    </div>
                </div>
            </layout>

            <container class="demo__container">
                <p>Container</p>
            </container>

            <container class="__container">
                <h4>Auto Layout</h4>
                <layout class="demo__layout gap">
                    <div>auto</div>
                    <div>auto</div>
                </layout>
            </container>
            
        </div>

    </body>

</html>