.num-x-1 {
    --num-x: 1;
}

.num-x-2 {
    --num-x: 2;
}

.num-x-3 {
    --num-x: 3;
}

.num-x-4 {
    --num-x: 4;
}

.num-x-5 {
    --num-x: 5;
}

.num-x-6 {
    --num-x: 6;
}

.num-x-7 {
    --num-x: 7;
}

.num-x-8 {
    --num-x: 8;
}

.num-x-9 {
    --num-x: 9;
}

.num-x-10 {
    --num-x: 10;
}

.num-x-11 {
    --num-x: 11;
}

.num-x-12 {
    --num-x: 12;
}




.num-y-1 {
    --num-y: 1;
}

.num-y-2 {
    --num-y: 2;
}

.num-y-3 {
    --num-y: 3;
}

.num-y-4 {
    --num-y: 4;
}

.num-y-5 {
    --num-y: 5;
}

.num-y-6 {
    --num-y: 6;
}




.gap {
    --gap-x: clamp(.2rem, 1vw, 1rem);
    --gap-y: clamp(.2rem, 1vh, 1rem);
}

.gap-x {
    --gap-x: clamp(.2rem, 1vw, 1rem);
}

.gap-y {
    --gap-y: clamp(.2rem, 1vh, 1rem);
}




/* (sm) Small devices (landscape phones, 576px and up) */
@media (width >=576px) {
    .num-x-sm-1 {
        --num-x: 1;
    }

    .num-x-sm-2 {
        --num-x: 2;
    }

    .num-x-sm-3 {
        --num-x: 3;
    }

    .num-x-sm-4 {
        --num-x: 4;
    }

    .num-x-sm-5 {
        --num-x: 5;
    }

    .num-x-sm-6 {
        --num-x: 6;
    }

    .num-x-sm-7 {
        --num-x: 7;
    }

    .num-x-sm-8 {
        --num-x: 8;
    }

    .num-x-sm-9 {
        --num-x: 9;
    }

    .num-x-sm-10 {
        --num-x: 10;
    }

    .num-x-sm-11 {
        --num-x: 11;
    }

    .num-x-sm-12 {
        --num-x: 12;
    }
}


@media (width >=576px) {
    .num-y-sm-1 {
        --num-y: 1;
    }

    .num-y-sm-2 {
        --num-y: 2;
    }

    .num-y-sm-3 {
        --num-y: 3;
    }

    .num-y-sm-4 {
        --num-y: 4;
    }

    .num-y-sm-5 {
        --num-y: 5;
    }

    .num-y-sm-6 {
        --num-y: 6;
    }
}




/* (md) Medium devices (tablets, 768px and up) */
@media (width >=768px) {
    .num-x-md-1 {
        --num-x: 1;
    }

    .num-x-md-2 {
        --num-x: 2;
    }

    .num-x-md-3 {
        --num-x: 3;
    }

    .num-x-md-4 {
        --num-x: 4;
    }

    .num-x-md-5 {
        --num-x: 5;
    }

    .num-x-md-6 {
        --num-x: 6;
    }

    .num-x-md-7 {
        --num-x: 7;
    }

    .num-x-md-8 {
        --num-x: 8;
    }

    .num-x-md-9 {
        --num-x: 9;
    }

    .num-x-md-10 {
        --num-x: 10;
    }

    .num-x-md-11 {
        --num-x: 11;
    }

    .num-x-md-12 {
        --num-x: 12;
    }
}


@media (width >=768px) {
    .num-y-md-1 {
        --num-y: 1;
    }

    .num-y-md-2 {
        --num-y: 2;
    }

    .num-y-md-3 {
        --num-y: 3;
    }

    .num-y-md-4 {
        --num-y: 4;
    }

    .num-y-md-5 {
        --num-y: 5;
    }

    .num-y-md-6 {
        --num-y: 6;
    }
}




/* (lg) Large devices (desktops, 992px and up) */
@media (width >=992px) {
    .num-x-lg-1 {
        --num-x: 1;
    }

    .num-x-lg-2 {
        --num-x: 2;
    }

    .num-x-lg-3 {
        --num-x: 3;
    }

    .num-x-lg-4 {
        --num-x: 4;
    }

    .num-x-lg-5 {
        --num-x: 5;
    }

    .num-x-lg-6 {
        --num-x: 6;
    }

    .num-x-lg-7 {
        --num-x: 7;
    }

    .num-x-lg-8 {
        --num-x: 8;
    }

    .num-x-lg-9 {
        --num-x: 9;
    }

    .num-x-lg-10 {
        --num-x: 10;
    }

    .num-x-lg-11 {
        --num-x: 11;
    }

    .num-x-lg-12 {
        --num-x: 12;
    }
}


@media (width >=992px) {
    .num-y-lg-1 {
        --num-y: 1;
    }

    .num-y-lg-2 {
        --num-y: 2;
    }

    .num-y-lg-3 {
        --num-y: 3;
    }

    .num-y-lg-4 {
        --num-y: 4;
    }

    .num-y-lg-5 {
        --num-y: 5;
    }

    .num-y-lg-6 {
        --num-y: 6;
    }
}




/* (xl) X-Large devices (large desktops, 1200px and up) */
@media (width >=1200px) {
    .num-x-xl-1 {
        --num-x: 1;
    }

    .num-x-xl-2 {
        --num-x: 2;
    }

    .num-x-xl-3 {
        --num-x: 3;
    }

    .num-x-xl-4 {
        --num-x: 4;
    }

    .num-x-xl-5 {
        --num-x: 5;
    }

    .num-x-xl-6 {
        --num-x: 6;
    }

    .num-x-xl-7 {
        --num-x: 7;
    }

    .num-x-xl-8 {
        --num-x: 8;
    }

    .num-x-xl-9 {
        --num-x: 9;
    }

    .num-x-xl-10 {
        --num-x: 10;
    }

    .num-x-xl-11 {
        --num-x: 11;
    }

    .num-x-xl-12 {
        --num-x: 12;
    }
}


@media (width >=1200px) {
    .num-y-xl-1 {
        --num-y: 1;
    }

    .num-y-xl-2 {
        --num-y: 2;
    }

    .num-y-xl-3 {
        --num-y: 3;
    }

    .num-y-xl-4 {
        --num-y: 4;
    }

    .num-y-xl-5 {
        --num-y: 5;
    }

    .num-y-xl-6 {
        --num-y: 6;
    }
}




/* (xxl) XX-Large devices (larger desktops, 1400px and up) */
@media (width >=1400px) {
    .num-x-xxl-1 {
        --num-x: 1;
    }

    .num-x-xxl-2 {
        --num-x: 2;
    }

    .num-x-xxl-3 {
        --num-x: 3;
    }

    .num-x-xxl-4 {
        --num-x: 4;
    }

    .num-x-xxl-5 {
        --num-x: 5;
    }

    .num-x-xxl-6 {
        --num-x: 6;
    }

    .num-x-xxl-7 {
        --num-x: 7;
    }

    .num-x-xxl-8 {
        --num-x: 8;
    }

    .num-x-xxl-9 {
        --num-x: 9;
    }

    .num-x-xxl-10 {
        --num-x: 10;
    }

    .num-x-xxl-11 {
        --num-x: 11;
    }

    .num-x-xxl-12 {
        --num-x: 12;
    }
}


@media (width >=1400px) {
    .num-y-xxl-1 {
        --num-y: 1;
    }

    .num-y-xxl-2 {
        --num-y: 2;
    }

    .num-y-xxl-3 {
        --num-y: 3;
    }

    .num-y-xxl-4 {
        --num-y: 4;
    }

    .num-y-xxl-5 {
        --num-y: 5;
    }

    .num-y-xxl-6 {
        --num-y: 6;
    }
}




/* (xxxl) XXX-Large devices (Extra larger desktops, 1800px and up) */
@media (width >=1800px) {
    .num-x-xxxl-1 {
        --num-x: 1;
    }

    .num-x-xxxl-2 {
        --num-x: 2;
    }

    .num-x-xxxl-3 {
        --num-x: 3;
    }

    .num-x-xxxl-4 {
        --num-x: 4;
    }

    .num-x-xxxl-5 {
        --num-x: 5;
    }

    .num-x-xxxl-6 {
        --num-x: 6;
    }

    .num-x-xxxl-7 {
        --num-x: 7;
    }

    .num-x-xxxl-8 {
        --num-x: 8;
    }

    .num-x-xxxl-9 {
        --num-x: 9;
    }

    .num-x-xxxl-10 {
        --num-x: 10;
    }

    .num-x-xxxl-11 {
        --num-x: 11;
    }

    .num-x-xxxl-12 {
        --num-x: 12;
    }
}


@media (width >=1800px) {
    .num-y-xxxl-1 {
        --num-y: 1;
    }

    .num-y-xxxl-2 {
        --num-y: 2;
    }

    .num-y-xxxl-3 {
        --num-y: 3;
    }

    .num-y-xxxl-4 {
        --num-y: 4;
    }

    .num-y-xxxl-5 {
        --num-y: 5;
    }

    .num-y-xxxl-6 {
        --num-y: 6;
    }
}




/* Wide screens */
@media (aspect-ratio >=16 / 9) and (width >=1800px) {
    .num-x-wd-1 {
        --num-x: 1;
    }

    .num-x-wd-2 {
        --num-x: 2;
    }

    .num-x-wd-3 {
        --num-x: 3;
    }

    .num-x-wd-4 {
        --num-x: 4;
    }

    .num-x-wd-5 {
        --num-x: 5;
    }

    .num-x-wd-6 {
        --num-x: 6;
    }

    .num-x-wd-7 {
        --num-x: 7;
    }

    .num-x-wd-8 {
        --num-x: 8;
    }

    .num-x-wd-9 {
        --num-x: 9;
    }

    .num-x-wd-10 {
        --num-x: 10;
    }

    .num-x-wd-11 {
        --num-x: 11;
    }

    .num-x-wd-12 {
        --num-x: 12;
    }
}


@media (aspect-ratio >=16 / 9) and (width >=1800px) {
    .num-y-wd-1 {
        --num-y: 1;
    }

    .num-y-wd-2 {
        --num-y: 2;
    }

    .num-y-wd-3 {
        --num-y: 3;
    }

    .num-y-wd-4 {
        --num-y: 4;
    }

    .num-y-wd-5 {
        --num-y: 5;
    }

    .num-y-wd-6 {
        --num-y: 6;
    }
}




/* Ultrawide screens */
@media (aspect-ratio >=21 / 9) and (width >=2000px) {
    .num-x-uwd-1 {
        --num-x: 1;
    }

    .num-x-uwd-2 {
        --num-x: 2;
    }

    .num-x-uwd-3 {
        --num-x: 3;
    }

    .num-x-uwd-4 {
        --num-x: 4;
    }

    .num-x-uwd-5 {
        --num-x: 5;
    }

    .num-x-uwd-6 {
        --num-x: 6;
    }

    .num-x-uwd-7 {
        --num-x: 7;
    }

    .num-x-uwd-8 {
        --num-x: 8;
    }

    .num-x-uwd-9 {
        --num-x: 9;
    }

    .num-x-uwd-10 {
        --num-x: 10;
    }

    .num-x-uwd-11 {
        --num-x: 11;
    }

    .num-x-uwd-12 {
        --num-x: 12;
    }
}


@media (aspect-ratio >=21 / 9) and (width >=2000px) {
    .num-y-uwd-1 {
        --num-y: 1;
    }

    .num-y-uwd-2 {
        --num-y: 2;
    }

    .num-y-uwd-3 {
        --num-y: 3;
    }

    .num-y-uwd-4 {
        --num-y: 4;
    }

    .num-y-uwd-5 {
        --num-y: 5;
    }

    .num-y-uwd-6 {
        --num-y: 6;
    }
}




/* Super ultrawide screens */
@media (aspect-ratio >=32 / 9) and (width >=3000px) {
    .num-x-suwd-1 {
        --num-x: 1;
    }

    .num-x-suwd-2 {
        --num-x: 2;
    }

    .num-x-suwd-3 {
        --num-x: 3;
    }

    .num-x-suwd-4 {
        --num-x: 4;
    }

    .num-x-suwd-5 {
        --num-x: 5;
    }

    .num-x-suwd-6 {
        --num-x: 6;
    }

    .num-x-suwd-7 {
        --num-x: 7;
    }

    .num-x-suwd-8 {
        --num-x: 8;
    }

    .num-x-suwd-9 {
        --num-x: 9;
    }

    .num-x-suwd-10 {
        --num-x: 10;
    }

    .num-x-suwd-11 {
        --num-x: 11;
    }

    .num-x-suwd-12 {
        --num-x: 12;
    }
}


@media (aspect-ratio >=32 / 9) and (width >=3000px) {
    .num-y-suwd-1 {
        --num-y: 1;
    }

    .num-y-suwd-2 {
        --num-y: 2;
    }

    .num-y-suwd-3 {
        --num-y: 3;
    }

    .num-y-suwd-4 {
        --num-y: 4;
    }

    .num-y-suwd-5 {
        --num-y: 5;
    }

    .num-y-suwd-6 {
        --num-y: 6;
    }
}