@view-transition {
    navigation: auto;
}

:root {
    background-color: var(--page-transition-bg, aliceblue);
}

::view-transition-old(root) {
    animation: page_out var(--page-transition-duration, 1.2s);
}

::view-transition-new(root) {
    animation: page_in var(--page-transition-duration, 1.2s);
}

@keyframes page_out {
    0% {
       scale: 1;
       translate: 0% 0%;
    }

    30% {
        scale: .5; 
    }
   
    100% {
        scale: .5;
        translate: 100% 0%;
    }
}

@keyframes page_in {
    0% {
        scale: .5;
        translate: -100% 0%;
    }

    70% {
        scale: .5; 
    }

    100% {
        scale: 1;
       translate: 0% 0%;
    }
}