@view-transition {
    navigation: auto;
}

:root {
    background-color: var(--page-transition-bg, aliceblue);
}

::view-transition-old(root) {
    animation: page_out var(--page-transition-duration, 1.2s);
}

::view-transition-new(root) {
    animation: page_in var(--page-transition-duration, 1.2s);
}

@keyframes page_out {
    0% {  
      clip-path: inset(0% 0% 0% 0%);
    }

    50% {
        clip-path: inset(0% 0% 100% 0%);
    }
   
    100% {
        clip-path: inset(0% 0% 100% 0%);
    }
}

@keyframes page_in {
    0% {
        clip-path: inset(100% 0% 0% 0%);
    }

    50% {
        clip-path: inset(100% 0% 0% 0%);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
    }
}