.layout-visualizer {
    --edge-offset-x: .75rem;
    --color: rgba(255, 0, 0, .3);
    --num-x: 12;
    --gap-x: clamp(.2rem, 1vw, 1rem);
    --gap-color: transparent;
    min-height: 100vh;
    background: repeating-linear-gradient(to right,
            var(--color),
            var(--color) calc(100% / var(--num-x) - var(--gap-x)),
            var(--gap-color) calc(100% / var(--num-x) - var(--gap-x)),
            var(--gap-color) calc(100% / var(--num-x) + (var(--gap-x) / 12)));
    background-size: calc(100% - var(--edge-offset-x) * 2) 100%;
    background-repeat: no-repeat;
    background-position: center;

    @media (width >=576px) {
        --edge-offset-x: 2.5%;
    }

    @media (width >=992px) {
        --edge-offset-x: 5%;
    }

    @media (aspect-ratio >=21/9) and (width >=2000px) {
        --edge-offset-x: 15%;
    }

    @media (aspect-ratio >=32/9) and (width >=3000px) {
        --edge-offset-x: 25%;
    }
}