<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar Demo</title>

        <link rel="stylesheet" href="navbar.css">

        <link rel="stylesheet" href="/layx/main/base/variable.css">
        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/components/button/button.css">
        <link rel="stylesheet" href="/layx/main/base/scrollbar.css">

        <style>
            body {}
        </style>
    </head>

    <body>
        <header>

            <navbar>
                <div class="wrapper">
                    <div class="main">

                    </div>
                </div>
                <div class="menu">

                </div>
            </navbar>

        </header>


        <script type="module">
            import './navbar.js';
        </script>
    </body>

</html>