<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="media.css">

        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
       
        <style>
            body {
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-family: 'Red Hat Display', Tahoma, Geneva, Verdana, sans-serif;
            }

            

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                gap: 1rem;
                padding-bottom: 1rem;
            }
        </style>
    </head>

    <body>
        <container class="demo__container">

            <h3>Demo Media</h3>

            <div class="wrapper">
            <audio src="assets/audio.mp3" controls controlslist="nodownload noplaybackrate" style="--radius:250px"></audio>
            <audio src="assets/audio.mp3" controls controlslist="nodownload noplaybackrate"></audio>
            <audio class="vertical" src="assets/audio.mp3" controls controlslist="nodownload noplaybackrate"></audio>
            <video src="assets/audio.mp3" controls controlslist="nodownload noplaybackrate"
                style="width: 300px;">
                <track default label="English" srclang="en" src="assets/video.vtt" />
            </video>
            <video class="poster" src="assets/audio.mp3" controls poster="assets/poster.webp"
                style="width: 350px;" controlslist="nodownload noplaybackrate">
                <track default label="English" srclang="en" src="assets/video.vtt" />
            </video>
            <video class="fullscreen-cover" src="assets/video.mp4" controls style="width: 450px;"
                controlslist="nodownload noplaybackrate">
                <track default label="English " srclang="en" src="assets/video.vtt" />
            </video>
            </div>

        </container>
    </body>

</html>