@layer components {
    video, audio {
        &::-webkit-media-controls {
            font: inherit;
        }

        &::-webkit-media-controls-current-time-display,
        &::-webkit-media-controls-time-remaining-display {
            font: inherit;
            font-size: .9rem;
            font-weight: 500;
            font-variant-numeric: tabular-nums;
        }

        &::-webkit-media-text-track-container {
            font-family: inherit;
            font-weight: 450;
        }

        &::cue {
            background-color: rgb(0 0 0 / .5);
        }
    }

    video:not([type=audio]) {
        background-color: black;

        &:not(:fullscreen) {
            border-radius: var(--radius, 0);
        }

        &::-webkit-media-controls-panel {
            flex-direction: column-reverse;
            margin-top: auto;
            background: linear-gradient(transparent, rgb(0 0 0 / .75));
        }

        &::-webkit-media-controls-timeline {
            padding-block: 1% min(2rem, 2.25%);
        }

        &::-webkit-media-controls-play-button {
            position: absolute;
            inset: auto 0 0;
            margin-inline: auto;
            margin-bottom: .25rem;
            border-radius: 50%;
            padding: .4rem;
            background-color: rgb(0 0 0 / .3);
            background-clip: content-box;
        }

        &::-webkit-media-controls-volume-control-hover-background {
            background-color: rgb(0 0 0 / .3);
        }
    }

    audio, video[type=audio] {
        &::-webkit-media-controls-enclosure {
            border-radius: var(--radius, 0);
        }

        &::-webkit-media-controls-play-button {
            background-color: light-dark(#fff, #000);
            border-radius: 50%;
        }

        &::-webkit-media-controls-volume-control-hover-background {
           background-color: light-dark(#000, #fff); 
        }
    }

    video[fullscreen~=cover] {
        &:fullscreen {
            object-fit: cover;
        }
    }
}