carousel,.carousel {
    --edge-offset: .5rem;
    display: block;
    position: relative;
    
    .main {
        display: flex;
        height: var(--height, 500px);
        overflow: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        .item {
            flex-shrink: 0;
            height: 100%;
            width: 100%;
            scroll-snap-align: start;
            view-timeline: --carousel-item inline;

            &.auto {
               width: auto;
            }
        }

        &.vertical {
            flex-direction: column;
            scroll-snap-type: y mandatory;

            .item {
                view-timeline: --carousel-item block;

                &.auto {
                    height: auto;
                 }
            }
        }
    }

    .indicator-wrapper {
        position: absolute;
        inset: auto 0 var(--edge-offset, 0);
        display: flex;
        gap: .5rem;
        padding-inline: 1rem;
        justify-content: center;
        pointer-events: none;

        .indicator {
            padding: 0;
            height: .3rem;
            width: 2rem;
            flex-shrink: 1;
            box-sizing: content-box;
            border-block: 1rem solid transparent;
            border-radius: 2px;
            pointer-events: auto;
            opacity: .5;
            background: var(--indicator-bg,#fff);
            background-clip: padding-box;
            transition: .3s;

            &.active {
               width: 3rem;
               opacity: 1;
            }
        }

        .main.vertical ~ & {
            inset: 0 auto 0 var(--edge-offset, 0);
            flex-direction: column;

            .indicator {
                border-block-width: .25rem;
            }
        }
    }

    .control-wrapper {

        .left,.right {
            position: absolute;
            display: flex;
            align-items: center;
            pointer-events: none;

            &.left {
                inset: 0 auto 0 var(--edge-offset, 0);
            }

            &.right {
                inset: 0 var(--edge-offset, 0) 0 auto;
            }

            * {
                pointer-events: auto;
            }

            .prev, .next {
                padding: 0;
                height: 2.5rem;
                width: 2.5rem;
                background-color: unset;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
                opacity: .8;
                transition: .3s;

                &.next {
                    rotate: 180deg;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        .main.vertical ~ & {

            .left,.right {
                flex-direction: column;
                padding-right: .75rem;

                .prev {
                  rotate: 90deg;  
                }
                .next {
                   rotate: -90deg;
                }
             }


            .left {
                inset: var(--edge-offset, 0) var(--edge-offset, 0) 0 auto;
            }

            .right {
                inset: 0 var(--edge-offset, 0) var(--edge-offset, 0) auto;
                justify-content: end;
            }
        }
    }
}

@keyframes view_carousel_inset {
	entry 0%  {
		clip-path: inset(25%);
	}
	entry 100%  {
		clip-path: inset(0%);
	}

	exit 0% {
		clip-path: inset(0%);
	}
	exit 100% {
		clip-path: inset(25%);
	}
}