carousel, .carousel {
    --min-height: 300px;
    --edge-offset: .5rem;
    --indicator-bg: #fff;

    display: block;
    position: relative;

    &:focus {
        outline: none;
    }
    
    .scroller {
        display: flex;
        min-height: var(--min-height);
        gap: var(--gap);
        overflow: auto;
        padding-inline: var(--edge-offset-x);
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .dragging & {
            scroll-behavior: auto !important;
            scroll-snap-type: none !important;
        }

        .item {
            flex-shrink: 0;
            width: 100%;
            user-select: none;
            -webkit-user-drag: none;
            scroll-snap-align: center;
            view-timeline: --carousel-item inline;

            &.auto {
               width: auto;
            }

            &:first-child {
                margin-inline-start: var(--edge-offset-x);
            }

            &:last-child {
                margin-inline-end: var(--edge-offset-x);
            }
        }

    }

    .indicator-wrapper {
        position: absolute;
        inset: auto 0 var(--edge-offset, 0);
        display: flex;
        gap: var(--indicator-gap, .5rem);
        padding-inline: 1rem;
        justify-content: center;
        pointer-events: none;

        .indicator {
            padding: 0;
            height: var(--indicator-height, .2rem);
            width: var(--indicator-width, 1.5rem);
            flex-shrink: 1;
            box-sizing: content-box;
            border-block: 1rem solid transparent;
            border-radius: 2px;
            pointer-events: auto;
            opacity: .5;
            background: var(--indicator-bg);
            background-clip: padding-box;
            transition: .3s;

            &.active {
               width: var(--indicator-active-width, 2.5rem);
               opacity: 1;
            }
        }

    }

    .control-wrapper {

        .left,.right {
            position: absolute;
            display: flex;
            align-items: center;
            pointer-events: none;

            &.left {
                inset: 0 auto 0 var(--edge-offset, 0);
            }

            &.right {
                inset: 0 var(--edge-offset, 0) 0 auto;
            }

            * {
                pointer-events: auto;
            }

            .prev, .next {
                padding: 0;
                height: 2.5rem;
                width: 2.5rem;
                background-color: unset;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
                opacity: .8;
                transition: .3s;

                &.next {
                    rotate: 180deg;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
