carousel,.carousel {
    display: block;
    position: relative;
    
    .main {
        display: flex;
        height: 50vh;
        overflow: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        .item {
            flex-shrink: 0;
            height: 100%;
            width: 100%;
            scroll-snap-align: start;

            &.auto {
               width: auto;
            }
        }

        &.vertical {
            flex-direction: column;
            scroll-snap-type: y mandatory;

            .item {

                &.auto {
                    height: auto;
                 }
            }
        }
    }

    .indicator-warper {
        position: absolute;
        inset: auto 0 0;
        margin-inline: auto;
        height: fit-content;
        width: fit-content;

        .indicator {

            &.active {
                background-color: aquamarine;
            }
        }
    }

    .control-warper {

        .left,.right {
            position: absolute;
            margin-block: auto;
            height: fit-content;
            width: fit-content;

            &.left {
                inset: 0 auto 0 0;
            }

            &.right {
                inset: 0 0 0 auto;
            }
        }
    }
}