.d-inline, .d-i, .inline {
    display: inline !important;
}

.d-inline-block, .d-ib, .inline-block {
    display: inline-block !important;
}

.d-block, .d-b, .block {
    display: block !important;
}

.d-grid, .d-g, .grid {
    display: grid !important;
}

.d-inline-grid, .d-ig, .inline-grid {
    display: inline-grid !important;
}

.d-flex, .d-f, .flex {
    display: flex !important;
}

.d-inline-flex, .d-if, .inline-flex {
    display: inline-flex !important;
}

.d-none, .d-n, .none {
    display: none !important;
}