@layer components {
    .accordion {
        --padding: 1.25rem;
        --transition: .3s;
        --background: var(--surface-color, #F0F0F0);
        background: var(--background);
        border-radius: var(--radius);

        &:has(summary:focus-visible) {
            outline: 2px solid;
        }

        summary {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 1rem;
            padding: var(--padding);
            cursor: pointer;

            &::after {
                content: '>';
                font-size: 1rem;
                rotate: 90deg;
                scale: 1 1.5;
                translate: -15% 15%;
                transition: rotate var(--transition);
                opacity: .3;
            }

            [open] & {
                &::after {
                    rotate: 270deg;
                }
            }

            &:focus {
                outline: none;
            }
        }

        &::details-content {
            content-visibility: visible;
            padding-inline: var(--padding);
            height: 0px;
            transition: height var(--transition);
            overflow: clip;
        }

        &[open]::details-content {
            height: calc-size(auto, size + var(--padding));

            @supports not (interpolate-size: allow-keywords) {
                height: auto;
                padding-bottom: var(--padding);
            }
        }
    }
}