alert,.alert {
    --padding: 1rem;
    --gap: 1rem;
    --radius: .5rem;
    --bg: rgb(240, 240, 240);
    --bg-modern: linear-gradient(155deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
    --blur: 10px;
    --border: none;
    --animation-duration: .6s;

    display: flex;
    justify-content: space-between;
    gap: var(--gap, .5rem);
    font-size: min(calc(.9rem + .3vw), 1.2rem);
    padding: var(--padding-y, var(--padding, 1rem)) var(--padding-x, var(--padding, 1rem));
    border-radius: var(--radius, .5rem);
    background: var(--bg, rgb(240, 240, 240));
    border: var(--border);
    opacity: 0;
    translate: 0 100%;
    animation: alertHide var(--animation-duration, .6s) forwards ease-in;

    &[open] {
        animation: alertShow var(--animation-duration, .6s) forwards ease-out;
    }

    &:not([open]) {
        animation-delay: 0s !important;
    }

    &.fit {
        width: fit-content;
    }

    &.modern {
        background: var(--bg-modern, rgba(255, 255, 255, .6));
        backdrop-filter: blur(var(--blur));
    }

    .close {
        all: unset;
        font-size: inherit;
        height: 1lh;
        width: 1lh;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        background-size: 60%;
    }
}

@keyframes alertShow {
    from {
        opacity: 0;
        translate: 0 100%;
        visibility: hidden;
    }

    to {
        opacity: 1;
        translate: 0 0;
        visibility: visible;
    }
}

@keyframes alertHide {
    from {
        opacity: 1;
        translate: 0 0;
        visibility: visible;
    }

    to {
        opacity: 0;
        translate: 0 100%;
        visibility: hidden;
    }
}