card, .card {
    --padding: 1.5rem;
    --gap: 1rem;
    --radius: .5rem;
    --bg: rgb(245, 245, 245);
    --bg-modern: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
    --blur: 15px;

    display: block;

    &:not(:has(.main)) {
        padding: 1rem;
    }

    .main {
        padding: 1rem;
    }
}