<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="card.css">

        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
        <link rel="stylesheet" href="/layx/components/button/button.css">

        <style>
            body {
                font-family: "Red Hat Display", sans-serif;
            }

            .demo__container {
                margin-top: 1rem;
            }

            card {
                width: 400px;
            }
        </style>
    </head>

    <body>
        <container class="demo__container">
            <card>
                <img src="../carousel/assets/img_snow_wide.webp" alt="...">
                <div class="wrapper">
                    <div class="header">
                        <h5>Some demo header</h5>
                    </div>
                    <div class="main">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit mollitia illum perferendis
                            molestiae.</p>
                    </div>
                    <div class="footer">
                        <button class="light" type="button">Demo</button>
                        <button class="dark" type="button">Book</button>
                    </div>
                </div>
            </card>
        </container>
    </body>

</html>