card, .card {
    --padding: 1rem;
    --gap: 1rem;
    --radius: .5rem;
    --bg: rgb(245, 245, 245);
    --bg-modern: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
    --blur: 15px;

    display: block;
    border-radius: var(--radius);
    background: var(--bg);
    overflow: hidden;

    &.modern {
     background: var(--bg-modern);
     backdrop-filter: blur(var(--blur));  
    }

    &:not(:has(.wrapper)) {
        padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));

        &:last-child {
            margin-bottom: unset;
        }
    }

    .wrapper {
        padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));

        &:last-child {
            margin-bottom: unset;
        }
    }

    .header {
   
    }
  
    .main {
    
    }
  
      .footer {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap, .5rem);
  
        &.center {
          justify-content: center;
        }
  
        &.end {
          justify-content: end;
        }
  
        &.between {
          justify-content: space-between;
        }
  
        &.grow {
          >button {
            flex-grow: 1;
          }
        }
  
        &.vertical {
          flex-direction: column;
        }
      }
}