<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="section.css">

        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
        <link rel="stylesheet" href="/layx/main/layout/layout.css">

        <title>Section Demo</title>

    </head>

    <body>
        <section class="__section">
            <container class="__container">
                <layout class="__layout">

                </layout>
            </container>
        </section>
    </body>

</html>