<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breadcrumb Demo</title>

        <link rel="stylesheet" href="breadcrumb.css">

        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">

        <style>
            body {
                font-family: "Red Hat Display", sans-serif;
                font-weight: 500;
            }

            .demo__container {
                display: grid;
                gap: .5rem;
            }

        </style>
    </head>

    <body>
        <container class="demo__container">
            <h3>Breadcrumb Demo</h3>

            <breadcrumb>
                <div class="item active"><a href="#">Home</a></div>
            </breadcrumb>

            <breadcrumb>
                <div class="item "><a href="#">Home</a></div>
                <div class="item active"><a href="#">Libary</a></div>
            </breadcrumb>

            <breadcrumb>
                <div class="item"><a href="#">Home</a></div>
                <div class="item"><a href="#">Libary</a></div>
                <div class="item active"><a href="#">Data</a></div>
            </breadcrumb>
        </container>
    </body>

</html>