breadcrumb,.breadcrumb {
    --separator: '/';
    display: flex;

    .item {

        &.active {
            a {
                color: inherit;
                pointer-events: none;
                text-decoration: none;
            }
        }

        &:not(:last-child)::after {
            content: var(--separator, '/');
            margin-inline: .5rem;
            color: var(--separator-color, var(--color, #2e2e2e));
        }
    }
}