<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="pagination.css">

        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">

        <style>

            body {
                font-family: "Red Hat Display", sans-serif;
                font-weight: 500;
                background-color: antiquewhite;
            }

            .demo__container {
               margin-top: 1rem;

               h4 {
                margin-bottom: 1rem;
               }
            }

            pagination {
              --bg: rgba(255,255,255,.6);
              --bg-hover: rgb(255,255,255, .9);
            }
        </style>
    </head>

    <body>
        <container class="demo__container">
          <h4>Demo Pagination</h4>
            <pagination>
                <div class="item prev"><a href="#"></a></div>
                <div class="item"><a href="#">1</a></div>
                <div class="item active"><a href="#">2</a></div>
                <div class="item"><a href="#">3</a></div>
                <div class="item next"><a href="#"></a></div>
            </pagination>
        </container>
    </body>

</html>