.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-max-100 {
    max-width: 100%;
}

.w-max-50 {
    max-width: 50%;
}

.w-max-25 {
   max-width: 25%;
}


.w-min-100 {
    min-width: 100%;
}

.w-min-50 {
    min-width: 50%;
}

.w-min-25 {
   min-width: 25%;
}


.w-100vw {
    width: 100vw;
}

.w-50vw {
    width: 50vw;
}

.w-25vw {
    width: 25vw;
}


.w-100dvw {
    width: 100dvw;
}

.w-50dvw {
    width: 50dvw;
}

.w-25dvw {
    width: 25dvw;
}


.w-100svw {
    width: 100svw;
}

.w-50svw {
    width: 50svw;
}

.w-25svw {
    width: 25svw;
}


.w-min-100vw {
    min-width: 100vw;
}

.w-min-50vw {
    min-width: 50vw;
}

.w-min-25vw {
   min-width: 25vw;
}


.w-max-100vw {
    max-width: 100vw;
}

.w-max-50vw {
    max-width: 50vw;
}

.w-max-25vw {
   max-width: 25vw;
}